.posts {
  /* padding: 10px 30px 10px 30px; */
}
.headingLarge {
  /* padding-top: 20px; */
  padding-left: 10px;
  font-weight: 400;
  font-size: 2rem;
  margin-bottom: 0;
}
.heading {
  padding-left: 10px;
  font-weight: 500;
  font-size: 1.2rem;
  /* text-align: center; */
}
.box {
  padding: 15px 15px 15px 15px;
  position: relative;
  overflow: visible;
}
textarea {
  width: 100%;
  height: 300px;
  resize: none;
  padding: 10px;
  /* margin-bottom: 150px; */
  border-radius: 3px;
  font-size: 1rem;
  border: 1px solid rgba(0,0,0,0.2);
  box-shadow: inset 1px 1px 50px rgba(177, 177, 177, 0.1);
  background-color: white !important;
}
textarea:focus { 
  outline: none !important;
  border-color: rgba(255, 187, 51, 0.5);
  box-shadow: 0 0 5px rgba(255, 187, 51, 0.5);
}

.countBlock {
  position: absolute;
  bottom: 0;
  right: 0;
  padding: 5px 5px 5px 5px;
  right: 20px;
  bottom: -13px;
  /* opacity: 0; */
}
.countBlock ul li {
  width: auto;
  margin: 0 0 0 15px;
  color: grey;
}
.countBlock ul li span {
  font-weight: 400;
}

.btnMain {
  float: right;
  position: relative;
  width: auto;
  height: 50px;
  width: auto;
}

.btnSmall {
  padding: 5px 15px 5px 15px !important; 
}
.btnUpload {
  position: absolute;
  top: 10px;
  font-size: 0.75rem !important;
  font-weight: 600;
  /* color: white; */
}

.btnMain:hover {
  cursor: pointer;
}

button:hover {
  cursor: pointer;
}
@media (max-width: 720px) {
  .posts {
    padding: 10px 15px 10px 15px;
  }
  
}
