
.postWrapper {
  display: block;
  max-width: auto;
  margin: 0 auto;
}

.item {
  margin-bottom: 8px;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
}



.text {
  grid-area: texts;
  color: rgb(36, 36, 36);
  font-size: 1rem;
  
}
.text:hover {
  color: black;
  position: relative;
  /* left: 5px; */
}

@media (max-width: 930px) {
  
}
@media (max-width: 720px) {
  
}
@media (max-width: 590px) {
  
}

